body {
  margin-left:20vw;
  margin-right:20vw;
}
.createList, .editList, .saved_lists {
  float:left;
  border:solid 5px #114488;
  margin:3px;
}
h1 {
  text-align:center;
}
.listItem {
  display:block;
  padding:5px;
}
button {
  background-color:teal;
  border-radius:100px;
  margin:5px;
}
